.button{
    width: 170px;
    height: 47px;
    padding: 10px 16px;
    background-color: var(--css-black);
    color: var(--css-primary);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
}