.swiper-slide{
    color: var(--css-white);
}

.carousel-container{
    position: relative;
}

.arrow{
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
}

.arrow img{
    width: 100%;
    height: 100%;
}

.arrow-left{
    left: -12px;
}

.arrow-right{
    right: -12px;
}