.hs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 272px;
    width: 100vw;
    background-color: var(--css-black);
}

.hs-content{
    display: flex;
    align-items: center;
    color: var(--css-white);
}

.hs-img-frame{
    width: 212px;
    height: 212px;
}

.hs-img{
    width: 100%;
    height: 100%;
}